@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dana-gold: #ffb22c;
    --dana-green: #529553;
    --dana-navy: #1a3b41;
    --dana-header-height: 114px;
  }
  @font-face {
    font-family: "EstedadFANum";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/estedad-fd-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "EstedadFANum";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/estedad-fd-bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Peyda";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/peyda-bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Peyda";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/peyda-black.woff2") format("woff2");
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    min-width: 320px;
    font-family: "EstedadFANum", Tahoma, Arial, sans-serif;
  }
}

.font-heading {
  font-family: "Peyda", "EstedadFANum", sans-serif;
}

.hero-pattern {
  isolation: isolate;
  position: relative;
  background-image: url("/images/counseling-bg-1-1.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.blog-background {
  background-image: url("/images/blog-vector.png");
  background-position: center right;
  background-repeat: no-repeat;
}

.faq-background {
  background-image: url("/images/faq-vector.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto;
}

/* ===== اسکرول بار سفید با دستگیره زرد ===== */

/* برای کروم، اج، سافاری، اپرا */
::-webkit-scrollbar {
  width: px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff !important; /* ← سفید */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffb22c !important; /* ← زرد طلایی */
  border-radius: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #e69c1a !important; /* زرد تیره‌تر */
}

/* برای فایرفاکس */
* {
  scrollbar-width: thin !important;
  scrollbar-color: #ffb22c #ffffff !important; /* ← اول زرد، بعد سفید */
}
